.header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.top, .bottom, .middle{
    border-bottom: 1px #000 solid;
}
.top{
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
}

.login{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.login img{
    margin-top: -3px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2.5rem 0px 2.5rem;
    gap: 0.625rem;
}

.bottom nav ul{
    font-family: var(--raleway);
font-size: 1.5rem;
font-weight: 700;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 2rem; /* Misurata*/
    display: flex;
}

.bottom nav ul li{
    padding: 1.5rem 0 1.5rem 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.active{
    -webkit-box-shadow: inset 0px -8px 0px 0px var(--primaryLight);
    -moz-box-shadow:inset 0px -8px 0px 0px  var(--primaryLight);
    box-shadow:inset 0px -8px 0px 0px  var(--primaryLight);
}


.middle{
    display: flex;
    justify-content: space-between;
}

.left, .right{
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.left img , .right img{
    display: block;
}

.left{
    border-right: #000 1px solid;
}

.right{
    border-left: #000 1px solid;
}
