.categories{
    display: flex;
    gap: 2rem;
padding: 4rem 2.5rem 4rem 2.5rem;
align-items: center;
justify-content: space-between;



}

.title{
    font-size: 3.1875rem;
    font-weight: 700;
    font-weight: bold;    
    line-height: 2.875rem;
}

.categoriesBox{
    display: flex;
    align-items: center;
    gap: 1rem;
}