.articleGrid {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    height: auto;
    align-items: stretch;
}

.article{
    flex-basis: calc(100%/4);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.5rem;
    min-height:  27.25rem;
}

.bottomBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.25rem;
}